@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import 'styles/variables';
@import 'styles/reset';
@import 'styles/toggle';
@import 'styles/pomodoro';
@import 'styles/sidebar';
@import 'styles/addtask';
@import 'styles/popuplist';

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-default);
  background: var(--background-color);
}

.hidden {
   display: none;
}

.container {
  background: var(--background-for-container);
}

.title {
  margin-bottom: 15px;
  padding-bottom: 5px;
  display: inline-block;
  font-size: 5vw;
  border-bottom: 3px solid var(--contrast-color);
}

.text {
  font-size: 4vw;
  line-height: 30px;
}

.text-highlight {
  font-weight: 600;
  color: var(--contrast-color);
}

.text-link {
  color: var(--contrast-color);
  font-weight: 600;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.header {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    width: 7.6vw;
  }
  span {
    font-size: 6.4vw;
  }
}

.main {
  margin: 20px 0;
  padding: 20px 15px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.pomodoro-container {
  margin-bottom: 30px;
}

.information {
  margin-bottom: 30px;
}

.footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--border-color);
  .text {
    font-size: 3.2vw;
  }
}

.footer-navigation {
  a {
    text-transform: uppercase;
    transition: all .3s ease;
    &:nth-child(2) {
      margin: 0 40px;
    }
    &:hover {
      color: var(--color-hover-default);
      text-decoration: underline;
    }
  }
}

.social {
  margin: 15px 0;
  display: flex;
  gap: 40px;
}

.social-link {
  font-size: 10vw;
  transition: color .3s ease;
  &:hover {
    color: var(--color-hover-default);
  }
}

@media(min-width: 600px) {
  .title {
    margin-bottom: 40px;
    font-size: 36px;
  }

  .text {
    font-size: 20px;
  }

  .header {
    padding: 25px;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    gap: 20px;
    img {
      width: auto;
    }
    span {
      font-size: 36px;
    }
  }

  .main {
    padding: 25px 40px;
  }

  .pomodoro-container {
    margin-bottom: 100px;
  }

  .information {
    margin-bottom: 50px;
  }

  .footer {
    padding: 25px;
    .text {
      font-size: 16px;
    }
  }

  .social {
    margin: 20px 0 30px;
  }

  .social-link {
    font-size: 68px;
  }
}