@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
:root[data-theme=light] {
  --background-color: #FEEEEE;
  --background-for-container: #FFFFFF;
  --color-default: #956262;
  --color-hover-default: #513A3A;
  --border-color: #956262;
  --contrast-color: #FF6E6E;
  --background-button: #FEEEEE;
  --hover-background-button: #FAC7C7;
  --background-theme-drop: #FAC7C7;
  --button-color: #956262;
  --button-color-hover: #513A3A;
  --background-pomodoro-container: linear-gradient(115deg, #7ABFFF 15%, #85E2FF 80%);
  --text-shadow: #1A7AD3;
  --table-pomodoro-color: linear-gradient(270deg, rgba(151, 70, 53, 0.9) 8%, #9C4735 84%);
  --sun-or-moon-color: #FFF8DD;
  --task-done-hover-color: #513A3A;
  --note-bg-color: #FAC7C7;
  --popup-list-bg: #FFFFFF;
  --popup-list-box-shadow: rgba(251, 156, 156, 0.6);
  --color-low-opacity: #D39696;
  --color-low-opacity-button: #D39696;
  --save-button-color: #FEEEEE;
  --bg-settings-container: #FFFFFF;
  --color-settings: #956262;
  --dark-background-active: rgba(62, 39, 34, 0.5);
}

:root[data-theme=dark] {
  --background-color: #404740;
  --background-for-container: #2E332E;
  --color-default: #889562;
  --color-hover-default: #CCD566;
  --border-color: #2E332E;
  --contrast-color: #ccd566;
  --background-button: #889562;
  --hover-background-button: #4C514C;
  --background-theme-drop: #667145;
  --button-color: #2B312B;
  --button-color-hover: #0F110F;
  --background-pomodoro-container: linear-gradient(115deg, #1F81DC 15%, #084E8E 80%);
  --text-shadow: #082743;
  --table-pomodoro-color: linear-gradient(270deg, rgba(121, 62, 49, 0.9) 8%, #522E26 84%);
  --sun-or-moon-color: #F2F2F2;
  --task-done-hover-color: #0F110F;
  --note-bg-color: #6D784C;
  --popup-list-bg: #CCD566;
  --popup-list-box-shadow: rgba(46, 51, 46, 0.6);
  --color-low-opacity: #8A9668;
  --color-low-opacity-button: #676D57;
  --save-button-color: #CCD566;
  --bg-settings-container: #889562;
  --color-settings: #CCD566;
  --dark-background-active: rgba(43, 49, 43, 0.5);
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input, textarea {
  border: none;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input, textarea {
  border: none;
}

:root[data-theme=light] {
  --background-color: #FEEEEE;
  --background-for-container: #FFFFFF;
  --color-default: #956262;
  --color-hover-default: #513A3A;
  --border-color: #956262;
  --contrast-color: #FF6E6E;
  --background-button: #FEEEEE;
  --hover-background-button: #FAC7C7;
  --background-theme-drop: #FAC7C7;
  --button-color: #956262;
  --button-color-hover: #513A3A;
  --background-pomodoro-container: linear-gradient(115deg, #7ABFFF 15%, #85E2FF 80%);
  --text-shadow: #1A7AD3;
  --table-pomodoro-color: linear-gradient(270deg, rgba(151, 70, 53, 0.9) 8%, #9C4735 84%);
  --sun-or-moon-color: #FFF8DD;
  --task-done-hover-color: #513A3A;
  --note-bg-color: #FAC7C7;
  --popup-list-bg: #FFFFFF;
  --popup-list-box-shadow: rgba(251, 156, 156, 0.6);
  --color-low-opacity: #D39696;
  --color-low-opacity-button: #D39696;
  --save-button-color: #FEEEEE;
  --bg-settings-container: #FFFFFF;
  --color-settings: #956262;
  --dark-background-active: rgba(62, 39, 34, 0.5);
}

:root[data-theme=dark] {
  --background-color: #404740;
  --background-for-container: #2E332E;
  --color-default: #889562;
  --color-hover-default: #CCD566;
  --border-color: #2E332E;
  --contrast-color: #ccd566;
  --background-button: #889562;
  --hover-background-button: #4C514C;
  --background-theme-drop: #667145;
  --button-color: #2B312B;
  --button-color-hover: #0F110F;
  --background-pomodoro-container: linear-gradient(115deg, #1F81DC 15%, #084E8E 80%);
  --text-shadow: #082743;
  --table-pomodoro-color: linear-gradient(270deg, rgba(121, 62, 49, 0.9) 8%, #522E26 84%);
  --sun-or-moon-color: #F2F2F2;
  --task-done-hover-color: #0F110F;
  --note-bg-color: #6D784C;
  --popup-list-bg: #CCD566;
  --popup-list-box-shadow: rgba(46, 51, 46, 0.6);
  --color-low-opacity: #8A9668;
  --color-low-opacity-button: #676D57;
  --save-button-color: #CCD566;
  --bg-settings-container: #889562;
  --color-settings: #CCD566;
  --dark-background-active: rgba(43, 49, 43, 0.5);
}

.switch-theme__container-icons, .switch-theme__container-radio {
  padding: 10px 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.switch-theme {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--border-color);
  background: var(--background-button);
  border-radius: 30px;
}

.switch-theme__container-radio {
  width: 100%;
}

.switch-theme__radio {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  z-index: 2;
  cursor: pointer;
  appearance: none;
}

.switch-theme__container-icons {
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  font-size: 20px;
  z-index: 1;
}

.switch-theme__container-drop {
  padding: 10px 15px;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.switch-theme__drop {
  width: 30px;
  height: 30px;
  background-color: var(--background-theme-drop);
  border-radius: 50%;
  transition: transform 0.25s ease;
  transform: translateX(50px);
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input, textarea {
  border: none;
}

:root[data-theme=light] {
  --background-color: #FEEEEE;
  --background-for-container: #FFFFFF;
  --color-default: #956262;
  --color-hover-default: #513A3A;
  --border-color: #956262;
  --contrast-color: #FF6E6E;
  --background-button: #FEEEEE;
  --hover-background-button: #FAC7C7;
  --background-theme-drop: #FAC7C7;
  --button-color: #956262;
  --button-color-hover: #513A3A;
  --background-pomodoro-container: linear-gradient(115deg, #7ABFFF 15%, #85E2FF 80%);
  --text-shadow: #1A7AD3;
  --table-pomodoro-color: linear-gradient(270deg, rgba(151, 70, 53, 0.9) 8%, #9C4735 84%);
  --sun-or-moon-color: #FFF8DD;
  --task-done-hover-color: #513A3A;
  --note-bg-color: #FAC7C7;
  --popup-list-bg: #FFFFFF;
  --popup-list-box-shadow: rgba(251, 156, 156, 0.6);
  --color-low-opacity: #D39696;
  --color-low-opacity-button: #D39696;
  --save-button-color: #FEEEEE;
  --bg-settings-container: #FFFFFF;
  --color-settings: #956262;
  --dark-background-active: rgba(62, 39, 34, 0.5);
}

:root[data-theme=dark] {
  --background-color: #404740;
  --background-for-container: #2E332E;
  --color-default: #889562;
  --color-hover-default: #CCD566;
  --border-color: #2E332E;
  --contrast-color: #ccd566;
  --background-button: #889562;
  --hover-background-button: #4C514C;
  --background-theme-drop: #667145;
  --button-color: #2B312B;
  --button-color-hover: #0F110F;
  --background-pomodoro-container: linear-gradient(115deg, #1F81DC 15%, #084E8E 80%);
  --text-shadow: #082743;
  --table-pomodoro-color: linear-gradient(270deg, rgba(121, 62, 49, 0.9) 8%, #522E26 84%);
  --sun-or-moon-color: #F2F2F2;
  --task-done-hover-color: #0F110F;
  --note-bg-color: #6D784C;
  --popup-list-bg: #CCD566;
  --popup-list-box-shadow: rgba(46, 51, 46, 0.6);
  --color-low-opacity: #8A9668;
  --color-low-opacity-button: #676D57;
  --save-button-color: #CCD566;
  --bg-settings-container: #889562;
  --color-settings: #CCD566;
  --dark-background-active: rgba(43, 49, 43, 0.5);
}

.pomodoro-timers-button-container, .pomodoro-timers {
  display: flex;
  justify-content: space-between;
}

.pomodoro-timers-flex-container {
  margin-bottom: 20px;
}

.pomodoro-timers {
  margin-bottom: 20px;
}

.pomodoro-timer span {
  display: block;
  text-align: center;
  font-size: 4vw;
  font-weight: 600;
}
.pomodoro-timer span:nth-child(1) {
  margin-bottom: 5px;
}
.pomodoro-timer span:nth-child(2) {
  color: var(--contrast-color);
}

.pomodoro-timers-button {
  padding: 10px 20px;
  width: 134px;
  font-size: 4.3vw;
  color: var(--border-color);
  background: var(--background-button);
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.pomodoro-timers-button:hover {
  color: var(--color-hover-default);
  background: var(--note-bg-color);
}

.setting-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.pomodoro-animation__container {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 370px;
  background: var(--background-pomodoro-container);
  border-radius: 4px;
  overflow: hidden;
}
.pomodoro-animation__container .text {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  color: #FFFFFF;
  font-size: 6.5vw;
  font-weight: 600;
  text-shadow: 0 9px 10px var(--text-shadow);
}

.sun-or-moon {
  position: absolute;
  top: -25px;
  right: -35px;
  width: 84px;
  height: 84px;
  background: var(--sun-or-moon-color);
  border-radius: 50%;
  box-shadow: 0 0 55px 45px rgba(255, 255, 255, 0.25);
}

.pomodoro-animation__container__pomodoro-image {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  z-index: 4;
  overflow: hidden;
}
.pomodoro-animation__container__pomodoro-image img {
  width: 9.5rem;
}

.pomodoro-animation__container__pomodoro-image__eyes {
  position: absolute;
  left: 50%;
  top: 34%;
  width: 4.5rem;
  height: 16px;
  background: url("../img/eyes-open-pomodoro.png");
  background-size: cover;
  transform: translateX(-50%);
}

.table {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: var(--table-pomodoro-color);
}

@media (min-width: 600px) {
  .pomodoro-timers-flex-container {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }
  .pomodoro-timers-button-container {
    flex-direction: column;
  }
  .pomodoro-timers {
    gap: 40px;
  }
  .pomodoro-timer span {
    font-size: 36px;
  }
  .pomodoro-timer span:nth-child(1) {
    margin-bottom: 16px;
  }
  .pomodoro-timers-button {
    width: 172px;
    font-size: 20px;
  }
  .pomodoro-animation__container {
    margin-bottom: 40px;
    height: 750px;
  }
  .pomodoro-animation__container .text {
    padding-top: 50px;
    font-size: 54px;
    line-height: 68px;
  }
  .sun-or-moon {
    top: 50px;
    right: 115px;
  }
  .table {
    height: 160px;
  }
}
@media (min-width: 600px) {
  .pomodoro-animation__container__pomodoro-image {
    position: absolute;
    z-index: 4;
  }
  .pomodoro-animation__container__pomodoro-image img {
    width: 21.375rem;
  }
  .pomodoro-animation__container__pomodoro-image__eyes {
    width: 12rem;
    height: 42px;
    background: url("../img/eyes-open-pomodoro.png");
    background-size: cover;
  }
}
.aside-container {
  overflow: hidden;
}

.navigation-list__item {
  margin-bottom: 20px;
  font-size: 20px;
  transition: all 0.3s ease;
}
.navigation-list__item:hover {
  color: var(--contrast-color);
  text-decoration: underline;
}

.task-text {
  margin-bottom: 10px;
  font-size: 4vw;
  text-align: center;
}

.more-button {
  width: 35px;
  height: 35px;
  background: var(--background-button);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.more-button:hover {
  background: var(--hover-background-button);
}
.more-button:hover span {
  background: var(--color-hover-default);
}
.more-button:hover span::before, .more-button:hover span::after {
  background: var(--color-hover-default);
}
.more-button span {
  position: relative;
  margin: auto;
  display: block;
  width: 5px;
  height: 5px;
  background: var(--border-color);
}
.more-button span::before {
  top: -8px;
}
.more-button span::before, .more-button span::after {
  content: "";
  position: absolute;
  display: block;
  width: 5px;
  height: 5px;
  background: var(--border-color);
}
.more-button span::after {
  bottom: -8px;
}

.tasks-wrap {
  padding: 20px 0;
  font-size: 4vw;
}

.tasks-tasks-title {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid var(--color-default);
}

.tasks-information {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
  border-top: 3px solid var(--color-default);
}

.task-container {
  margin: 10px 0;
  padding: 20px 0 0;
  color: var(--border-color);
  background: var(--background-button);
  border-radius: 4px;
  overflow: hidden;
}
.task-container .more-button {
  border: 1px solid var(--border-color);
  transition: all 0.3s ease;
}
.task-container .more-button:hover {
  border: 1px solid var(--color-hover-default);
}

.task-container-hover {
  padding: 20px;
  transition: border-left 0.4s ease;
}
.task-container-hover:hover {
  border-left: 10px solid var(--note-bg-color);
}

.grab:hover {
  cursor: grab;
}

.task-container__item {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-container__item__subitem {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 5.5vw;
  font-weight: 600;
}

.task-container__item__tasks-name button {
  font-size: 40px;
  color: var(--border-color);
  background: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
.task-container__item__tasks-name button:hover {
  color: var(--task-done-hover-color);
}

.task-container__note {
  margin: 20px 0;
  padding: 20px;
  display: block;
  width: 100%;
  font-size: 4vw;
  color: var(--border-color);
  background: var(--note-bg-color);
  border-radius: 4px;
  resize: none;
}

.task-container__project-name {
  font-size: 4vw;
  font-weight: 600;
}
.task-container__project-name input {
  color: var(--border-color);
  font-size: 4vw;
  font-weight: 600;
  background: none;
}

.task-container__input-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 4vw;
  font-weight: 600;
}

.task-container__item__input-name {
  margin-bottom: 30px;
  font-size: 4vw;
  font-weight: 600;
  color: var(--border-color);
  background: none;
}

.task-container__subitem__input-pomos input::-webkit-input-placeholder,
.task-container__item__input-name::-webkit-input-placeholder,
.task-container__project-name input::-webkit-input-placeholder {
  color: var(--border-color);
}

.task-container__subitem__input-pomos input::-moz-placeholder,
.task-container__item__input-name::-moz-placeholder,
.task-container__project-name input::-webkit-input-placeholder {
  color: var(--border-color);
}

.task-container__subitem__input-pomos {
  margin: 10px 0 20px;
  display: flex;
  align-items: center;
}
.task-container__subitem__input-pomos span {
  margin: 0 5px;
}
.task-container__subitem__input-pomos input {
  padding: 5px;
  width: 100px;
  font-size: 4vw;
  font-weight: 600;
  color: var(--border-color);
  background: var(--note-bg-color);
  border-radius: 4px;
}

.task-container__subitem__input-adds button {
  font-size: 4vw;
  color: var(--color-low-opacity-button);
  text-decoration: underline;
  background: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
.task-container__subitem__input-adds button:nth-child(1) {
  margin-right: 10px;
}
.task-container__subitem__input-adds button:hover {
  color: var(--color-hover-default);
}

.task-container__button-panel {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background: var(--note-bg-color);
}
.task-container__button-panel button {
  padding: 10px 25px;
  max-width: 140px;
  min-width: 50px;
  font-size: 4vw;
  color: var(--border-color);
  background: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
.task-container__button-panel button:hover {
  color: var(--color-hover-default);
}
.task-container__button-panel div button:nth-child(1) {
  margin-right: 20px;
}
.task-container__button-panel div button:nth-child(2) {
  color: var(--save-button-color);
  background: var(--color-default);
  border-radius: 4px;
  transition: background 0.3s ease;
}
.task-container__button-panel div button:nth-child(2):hover {
  background: var(--note-bg-color);
}

.button-add {
  padding: 10px 0;
  width: 100%;
  font-size: 4.3vw;
  color: var(--border-color);
  background: var(--background-button);
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.button-add:hover {
  color: var(--color-hover-default);
  background: var(--note-bg-color);
}
.button-add span {
  margin-left: 10px;
}

@media (min-width: 600px) {
  .more-button {
    width: 40px;
    height: 40px;
  }
  .more-button span {
    width: 6px;
    height: 6px;
  }
  .more-button span::before {
    top: -10px;
  }
  .more-button span::before, .more-button span::after {
    width: 6px;
    height: 6px;
  }
  .more-button span::after {
    bottom: -10px;
  }
  .task-container__project-name,
  .task-container__project-name input,
  .task-container__note,
  .task-container__subitem__input-pomos input,
  .task-container__subitem__input-adds button,
  .task-container__button-panel button,
  .task-container__item__subitem,
  .tasks-wrap,
  .task-container__input-container,
  .task-container__item__input-name {
    font-size: 24px;
  }
  .task-container__button-panel button {
    padding: 10px 35px;
  }
  .task-text {
    font-size: 20px;
  }
  .button-add {
    padding: 28px 0;
    font-size: 26px;
  }
  .button-add span {
    margin-left: 20px;
  }
}
.popup-list-container {
  position: absolute;
  top: 44%;
  right: 2%;
  background: var(--popup-list-bg);
  box-shadow: 0 0 8px var(--popup-list-box-shadow);
  border-radius: 4px;
  z-index: 2;
}

.popup-list__item {
  padding: 10px 20px;
}
.popup-list__item button {
  color: var(--border-color);
  font-size: 4vw;
  background: none;
  cursor: pointer;
}
.popup-list__item button span {
  margin-right: 20px;
}
.popup-list__item:hover {
  background: var(--background-button);
}

@media (min-width: 600px) {
  .popup-list__item button {
    font-size: 16px;
  }
}
.dark-background-active {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background: var(--dark-background-active);
  z-index: 998;
}

.settings-container {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px 20px 40px;
  color: var(--color-settings);
  background: var(--bg-settings-container);
  box-shadow: 0 0 50px rgba(149, 98, 98, 0.25);
  border-radius: 6px;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.settings-container button {
  color: inherit;
  background: none;
  cursor: pointer;
}

.settings__close-panel {
  display: flex;
  justify-content: space-between;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: var(--color-default);
  background: var(--background-color);
}

.hidden {
  display: none;
}

.container {
  background: var(--background-for-container);
}

.title {
  margin-bottom: 15px;
  padding-bottom: 5px;
  display: inline-block;
  font-size: 5vw;
  border-bottom: 3px solid var(--contrast-color);
}

.text {
  font-size: 4vw;
  line-height: 30px;
}

.text-highlight {
  font-weight: 600;
  color: var(--contrast-color);
}

.text-link {
  color: var(--contrast-color);
  font-weight: 600;
  text-decoration: underline;
}
.text-link:hover {
  text-decoration: none;
}

.header {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
  width: 7.6vw;
}
.logo span {
  font-size: 6.4vw;
}

.main {
  margin: 20px 0;
  padding: 20px 15px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.pomodoro-container {
  margin-bottom: 30px;
}

.information {
  margin-bottom: 30px;
}

.footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--border-color);
}
.footer .text {
  font-size: 3.2vw;
}

.footer-navigation a {
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.footer-navigation a:nth-child(2) {
  margin: 0 40px;
}
.footer-navigation a:hover {
  color: var(--color-hover-default);
  text-decoration: underline;
}

.social {
  margin: 15px 0;
  display: flex;
  gap: 40px;
}

.social-link {
  font-size: 10vw;
  transition: color 0.3s ease;
}
.social-link:hover {
  color: var(--color-hover-default);
}

@media (min-width: 600px) {
  .title {
    margin-bottom: 40px;
    font-size: 36px;
  }
  .text {
    font-size: 20px;
  }
  .header {
    padding: 25px;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    gap: 20px;
  }
  .logo img {
    width: auto;
  }
  .logo span {
    font-size: 36px;
  }
  .main {
    padding: 25px 40px;
  }
  .pomodoro-container {
    margin-bottom: 100px;
  }
  .information {
    margin-bottom: 50px;
  }
  .footer {
    padding: 25px;
  }
  .footer .text {
    font-size: 16px;
  }
  .social {
    margin: 20px 0 30px;
  }
  .social-link {
    font-size: 68px;
  }
}

/*# sourceMappingURL=index.css.map */
