@import 'reset';
@import 'variables';

%flex {
  display: flex;
  justify-content: space-between;
}

.pomodoro-timers-flex-container {
  margin-bottom: 20px;
}

.pomodoro-timers {
  margin-bottom: 20px;
  @extend %flex;
}

.pomodoro-timer {
  span {
    display: block;
    text-align: center;
    font-size: 4vw;
    font-weight: 600;
  }
  span {
    &:nth-child(1) {
      margin-bottom: 5px;

    }
    &:nth-child(2) {
      color: var(--contrast-color);
    }
  }
}

.pomodoro-timers-button-container {
  @extend %flex;
}

.pomodoro-timers-button {
  padding: 10px 20px;
  width: 134px;
  font-size: 4.3vw;
  color: var(--border-color);
  background: var(--background-button);
  border-radius: 4px;
  transition: all .3s ease;
  cursor: pointer;
  &:hover {
    color: var(--color-hover-default);
    background: var(--note-bg-color);
  }
}

.setting-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.pomodoro-animation__container {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 370px;
  background: var(--background-pomodoro-container);
  border-radius: 4px;
  overflow: hidden;
  .text {
    position: relative;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: #FFFFFF;
    font-size: 6.5vw;
    font-weight: 600;
    text-shadow: 0 9px 10px var(--text-shadow);
    z-index: 6;
  }
}

.sun-or-moon {
  position: absolute;
  top: -25px;
  right: -35px;
  width: 84px;
  height: 84px;
  background: var(--sun-or-moon-color);
  border-radius: 50%;
  box-shadow: 0 0 55px 45px rgba(255, 255, 255, 0.25);
  //animation: changesunormoon 1s linear forwards;
}

.pomodoro-animation__container__pomodoro-image__division-1,
.pomodoro-animation__container__pomodoro-image__division-2 {
  position: absolute;
  bottom: 36%;
  width: 100%;
  height: 12px;
  background: url("../img/division-on-pomodoro.png");
  background-size: cover;
  overflow: hidden;
}

.pomodoro-animation__container__pomodoro-image__division-1 {
  left: 0;
  //animation: divisionone 6s linear infinite;
}

.pomodoro-animation__container__pomodoro-image__division-2 {
  left: 100%;
  //animation: divisiontwo 12s linear infinite;
}

.cloud-1, .cloud-2 {
  position: absolute;
  top: 10%;
  left: -848px;
  width: 53rem;
  height: 9.875rem;
  background: url("../img/cloud.png");
  background-size: cover;
}

.cloud-1 {
  animation: cloud 50s linear infinite;
}

.cloud-2 {
  animation: cloud 50s linear 25s infinite;
}

.pomodoro-animation__container__pomodoro-image {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%);
  z-index: 4;
  overflow: hidden;
  //animation: pomodororings 5s ease-in-out forwards;
  img {
    width: 9.5rem;
  }
}

.pomodoro-animation__container__pomodoro-image__eyes {
  position: absolute;
  left: 50%;
  top: 34%;
  width: 5.2rem;
  height: 18px;
  background: url("../img/eyes-open-pomodoro.png");
  background-size: cover;
  transform: translateX(-50%);
  z-index: 5;
  animation: blinkalltime 4s cubic-bezier(.79,.37,.13,.63) infinite;
}

.shadow-table {
  position: absolute;
  bottom: 35%;
  left: 46%;
  width: 7.25rem;
  height: 3.375rem;
  background: var(--table-pomodoro-shadow-color);
  border-radius: 50%;
  transform: translate(-60%, 0%);
}

.table {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: var(--table-pomodoro-color);
}

@keyframes pomodororings {
  0% {
   transform: rotate(0) translate(-50%);
  }
  5% {
    transform: rotate(10deg) translate(-50%);
  }
  10% {
    transform: rotate(-10deg) translate(-50%);
  }
  15% {
    transform: rotate(10deg) translate(-50%);
  }
  20% {
    transform: rotate(-10deg) translate(-50%);
  }
  25% {
    transform: rotate(10deg) translate(-50%);
  }
  30% {
    transform: rotate(-10deg) translate(-50%);
  }
  35% {
    transform: rotate(10deg) translate(-50%);
  }
  40% {
    transform: rotate(-10deg) translate(-50%);
  }
  45% {
    transform: rotate(10deg) translate(-50%);
  }
  50% {
    transform: rotate(-10deg) translate(-50%);
  }
  55% {
    transform: rotate(10deg) translate(-50%);
  }
  60% {
    transform: rotate(-10deg) translate(-50%);
  }
  65% {
    transform: rotate(10deg) translate(-50%);
  }
  70% {
    transform: rotate(-10deg) translate(-50%);
  }
  75% {
    transform: rotate(10deg) translate(-50%);
  }
  80% {
    transform: rotate(-10deg) translate(-50%);
  }
  85% {
    transform: rotate(10deg) translate(-50%);
  }
  90% {
    transform: rotate(-10deg) translate(-50%);
  }
  95% {
    transform: rotate(10deg) translate(-50%);
  }
  100% {
    transform: rotate(0) translate(-50%);
  }
}

@keyframes blinkalltime {
  0% {
    top: 34%;
    height: 18px;
    background: url("../img/eyes-open-pomodoro.png");
    background-size: cover;
  }
  45.8% {
    top: 34%;
    height: 18px;
    background: url("../img/blink_09.png");
    background-size: cover;
  }
  45.85% {
    top: 34%;
    height: 18px;
    background: url("../img/blink_08.png");
    background-size: cover;
  }
  46% {
    top: 34%;
    height: 18px;
    background: url("../img/blink_06.png");
    background-size: cover;
  }
  47% {
    top: 34%;
    height: 18px;
    background: url("../img/blink_07.png");
    background-size: cover;
  }
  48% {
    top: 34.1%;
    height: 11.5px;
    background: url("../img/blink_01.png");
    background-size: cover;
  }
  49% {
    top: 34.2%;
    height: 5.5px;
    background: url("../img/blink_02.png");
    background-size: cover;
  }
  50% {
    top: 34.3%;
    height: 6.5px;
    background: url("../img/blink_03.png");
    background-size: cover;
  }
  51% {
    top: 34.2%;
    height: 5.5px;
    background: url("../img/blink_02.png");
    background-size: cover;
  }
  52% {
    top: 34.1%;
    height: 11.5px;
    background: url("../img/blink_01.png");
    background-size: cover;
  }
  53% {
    top: 34%;
    height: 18px;
    background: url("../img/blink_07.png");
    background-size: cover;
  }
  54% {
    top: 34%;
    height: 18px;
    background: url("../img/blink_06.png");
    background-size: cover;
  }
  54.05% {
    top: 34%;
    height: 18px;
    background: url("../img/blink_08.png");
    background-size: cover;
  }
  54.1% {
    top: 34%;
    height: 18px;
    background: url("../img/blink_09.png");
    background-size: cover;
  }
  100% {
    top: 34%;
    height: 18px;
    background: url("../img/eyes-open-pomodoro.png");
    background-size: cover;
  }
}

@keyframes divisionone {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes divisiontwo {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes cloud {
  0% { left: 848px; }
  100% { left: -848px; }
}

@keyframes changesunormoon {
  0% {
    top: 50px;
    right: 115px;
    width: 84px;
    height: 84px;
  }
  10% {
    top: 20px;
    right: 145px;
  }
  15% {
    top: 5px;
    right: 170px;
  }
  35% {
    top: -50px;
    right: 400px;
  }
  55% {
    top: 5px;
    right: 660px;
  }
  65% {
    top: 20px;
    right: 700px;
  }
  75% {
    top: 50px;
    right: 800px;
  }
  77% {
    top: 300px;
    right: 1200px;
  }
  79% {
    top: 600px;
    right: 1500px;
  }
  96% {
    top: 600px;
    right: 240px;
    width: 194px;
    height: 194px;
  }
  98% {
    top: 300px;
    right: 80px;
  }
  100% {
    top: 50px;
    right: 115px;
    width: 84px;
    height: 84px;
  }
}

@media(min-width: 600px) {
  .pomodoro-timers-flex-container {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }

  .pomodoro-timers-button-container {
    flex-direction: column;
  }

  .pomodoro-timers {
    gap: 40px;
  }

  .pomodoro-timer {
    span {
      font-size: 36px;
    }
    span {
      &:nth-child(1) {
        margin-bottom: 16px;
      }
    }
  }

  .pomodoro-timers-button {
    width: 172px;
    font-size: 20px;
  }

  .pomodoro-animation__container {
    margin-bottom: 40px;
    height: 750px;
    .text {
      padding-top: 50px;
      font-size: 54px;
      line-height: 68px;
    }
  }

  .sun-or-moon {
    top: 50px;
    right: 115px;
  }

  .shadow-table {
    width: 16.25rem;
    height: 5.375rem;
  }

  .table {
    height: 160px;
  }

  .pomodoro-animation__container__pomodoro-image {
    position: absolute;
    z-index: 4;
    img {
      width: 21.375rem;
    }
  }

  .pomodoro-animation__container__pomodoro-image__division-1,
  .pomodoro-animation__container__pomodoro-image__division-2 {
    position: absolute;
    bottom: 36%;
    width: 100%;
    height: 27px;
    background: url("../img/division-on-pomodoro.png");
    background-size: cover;
    overflow: hidden;
  }

  .pomodoro-animation__container__pomodoro-image__division-1 {
    //animation: divisionone 10s linear infinite;
  }

  .pomodoro-animation__container__pomodoro-image__division-2 {
    //animation: divisiontwo 20s linear infinite;
  }

  .cloud-1,
  .cloud-2 {
    left: -2545px;
    width: 1060px;
    height: 200px;
  }

  .pomodoro-animation__container__pomodoro-image__eyes {
    width: 12.1rem;
    height: 42px;
    background: url("../img/eyes-open-pomodoro.png");
    background-size: cover;
    animation: blinkalltime 4s cubic-bezier(.79,.37,.13,.63) infinite;
  }

  @keyframes cloud {
    0% { left: 2545px; }
    100% { left: -2545px; }
  }

  @keyframes blinkalltime {
    0% {
      top: 34%;
      height: 42px;
      background: url("../img/eyes-open-pomodoro.png");
      background-size: cover;
    }
    45.8% {
      top: 34%;
      height: 42px;
      background: url("../img/blink_09.png");
      background-size: cover;
    }
    45.85% {
      top: 34%;
      height: 42px;
      background: url("../img/blink_08.png");
      background-size: cover;
    }
    46% {
      top: 34%;
      height: 42px;
      background: url("../img/blink_06.png");
      background-size: cover;
    }
    47% {
      top: 34%;
      height: 42px;
      background: url("../img/blink_07.png");
      background-size: cover;
    }
    48% {
      top: 34.5%;
      height: 27px;
      background: url("../img/blink_01.png");
      background-size: cover;
    }
    49% {
      top: 35%;
      height: 13px;
      background: url("../img/blink_02.png");
      background-size: cover;
    }
    50% {
      top: 35.5%;
      height: 15px;
      background: url("../img/blink_03.png");
      background-size: cover;
    }
    51% {
      top: 35%;
      height: 13px;
      background: url("../img/blink_02.png");
      background-size: cover;
    }
    52% {
      top: 34.5%;
      height: 27px;
      background: url("../img/blink_01.png");
      background-size: cover;
    }
    53% {
      top: 34%;
      height: 42px;
      background: url("../img/blink_07.png");
      background-size: cover;
    }
    54% {
      top: 34%;
      height: 42px;
      background: url("../img/blink_06.png");
      background-size: cover;
    }
    54.05% {
      top: 34%;
      height: 42px;
      background: url("../img/blink_08.png");
      background-size: cover;
    }
    54.1% {
      top: 34%;
      height: 42px;
      background: url("../img/blink_09.png");
      background-size: cover;
    }
    100% {
      top: 34%;
      height: 42px;
      background: url("../img/eyes-open-pomodoro.png");
      background-size: cover;
    }
  }
}