%input {
  padding: 12px 10px;
  display: block;
  color: var(--color-default);
  font-size: 4vw;
  background: var(--bg-settings-submit);
  border-radius: 4px;
}

%flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

%flex-text-input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  font-weight: 600;
}

.dark-background-active {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: var(--dark-background-active);
  z-index: 998;
}

.settings-container {
  position: absolute;
  top: 8%;
  left: 50%;
  padding: 20px 20px 40px;
  min-width: 80%;
  font-size: 6vw;
  color: var(--color-settings);
  background: var(--bg-settings-container);
  box-shadow: 0 0 50px rgba(149, 98, 98, 0.25);
  border-radius: 6px;
  transform: translateX(-50%);
  z-index: 999;
  button {
    font-size: inherit;
    cursor: pointer;
  }
}

.settings__close-panel {
  padding: 20px 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-settings);
}

.settings__close-panel__cross {
  color: var(--color-settings);
  background: none;
}

.settings__select-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.settings__select-item {
  padding: 10px 20px;
  display: flex;
  width: 100%;
  color: inherit;
  background: none;
  border-bottom: 1px solid var(--color-settings);
  transition: background .3s ease;
  span {
    margin-left: 20px;
  }
  &:hover {
    background: var(--bg-hover-settings-select);
  }
}

.settings__leave-button {
  margin-right: 10px;
  color: var(--color-settings);
  background: none;
}

.settings__setting-timer,
.settings__setting-tasks,
.settings__setting-sound {
  padding: 40px 0;
  border-bottom: 1px solid var(--color-settings);
}

.settings__setting-timer__container {
  @extend %flex;
  margin: 25px 0;
  span {
    font-weight: 600;
  }
  input {
    @extend %input;
    margin-top: 10px;
    width: 245px;
  }
}

.settings__setting-timer__interval {
  @extend %flex-text-input;
  input {
    @extend %input;
    width: 130px;
  }
}

.settings__setting-tasks {
  p {
    margin: 20px 0;
  }
}

.settings__setting-sound__switch-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.settings__setting-tasks__auto-switch,
.settings__setting-sound__auto-switch {
  @extend %flex-text-input;
}

.settings__setting-sound__auto-switch__input-container {
  @extend %flex;
  font-weight: 400;
}

.settings__button-submit-panel {
  padding: 20px 0 0;
}

.settings__button-submit {
  padding: 14px 0;
  display: block;
  float: right;
  min-width: 132px;
  color: var(--color-default);
  background: var(--bg-settings-submit);
  border-radius: 4px;
  transition: all .3s ease;
  &:hover {
    color: var(--color-settings);
    background: var(--bg-setting-submit-hover);
  }
}

@media (min-width: 600px) {
  .settings-container,
  .settings__select-item,
  .settings__setting-timer__container input,
  .settings__setting-timer__interval input {
    font-size: 32px;
  }

  .settings-container {
    .settings__leave-button {
      font-size: 28px;
    }
  }

  .settings__button-submit {
    width: 232px;
  }
}