// ====---- Variables ----==== //

// ---- For light theme
:root[data-theme="light"] {
  --background-color: #FEEEEE;
  --background-for-container: #FFFFFF;
  --color-default: #956262;
  --color-hover-default: #513A3A;
  --border-color: #956262;
  --contrast-color: #FF6E6E;
  --background-button: #FEEEEE;
  --hover-background-button: #FAC7C7;
  --background-theme-drop: #FAC7C7;
  --button-color: #956262;
  --button-color-hover: #513A3A;
  --background-pomodoro-container: linear-gradient(115deg, #7ABFFF 15%, #85E2FF 80%);
  --text-shadow: #1A7AD3;
  --table-pomodoro-color: linear-gradient(270deg, rgba(151, 70, 53, 0.9) 8%, #9C4735 84%);
  --sun-or-moon-color: #FFF8DD;
  --task-done-hover-color: #513A3A;
  --note-bg-color: #FAC7C7;
  --popup-list-bg: #FFFFFF;
  --popup-list-box-shadow: rgba(251, 156, 156, 0.6);
  --color-low-opacity: #D39696;
  --color-low-opacity-button: #D39696;
  --save-button-color: #FEEEEE;
  --save-button-hover: #513A3A;
}

// ---- For dark theme
:root[data-theme="dark"] {
  --background-color: #404740;
  --background-for-container: #2E332E;
  --color-default: #889562;
  --color-hover-default: #CCD566;
  --border-color: #2E332E;
  --contrast-color: #ccd566;
  --background-button: #889562;
  --hover-background-button: #4C514C;
  --background-theme-drop: #667145;
  --button-color: #2B312B;
  --button-color-hover: #0F110F;
  --background-pomodoro-container: linear-gradient(115deg, #1F81DC 15%, #084E8E 80%);
  --text-shadow: #082743;
  --table-pomodoro-color: linear-gradient(270deg, rgba(121, 62, 49, 0.9) 8%, #522E26 84%);
  --sun-or-moon-color: #F2F2F2;
  --task-done-hover-color: #0F110F;
  --note-bg-color: #6D784C;
  --popup-list-bg: #CCD566;
  --popup-list-box-shadow: rgba(46, 51, 46, 0.6);
  --color-low-opacity: #8A9668;
  --color-low-opacity-button: #676D57;
  --save-button-color: #CCD566;
  --save-button-hover: #4C514C;
}