// ====---- Variables ----==== //

// ---- For light theme

:root[data-theme="light"] {
  --background-color: #FEEEEE;
}

:root[data-theme="light"] {
  --background-for-container: #FFFFFF;
}

:root[data-theme="light"] {
  --color-default: #956262;
}

:root[data-theme="light"] {
  --color-hover-default: #513A3A;
}

:root[data-theme="light"] {
  --border-color: #956262;
}

:root[data-theme="light"] {
  --contrast-color: #FF6E6E;
}

:root[data-theme="light"] {
  --background-button: #FEEEEE;
}

:root[data-theme="light"] {
  --hover-background-button: #FAC7C7;
}

:root[data-theme="light"] {
  --background-theme-drop: #FAC7C7;
}

:root[data-theme="light"] {
  --button-color: #956262;
}

:root[data-theme="light"] {
  --button-color-hover: #513A3A;
}

:root[data-theme="light"] {
  --background-pomodoro-container: linear-gradient(115deg, #7ABFFF 15%, #85E2FF 80%);
}

:root[data-theme="light"] {
  --text-shadow: #1A7AD3;
}

// ---- For dark theme
:root[data-theme="dark"] {
  --background-color: #404740;
}

:root[data-theme="dark"] {
  --background-for-container: #2E332E;
}

:root[data-theme="dark"] {
  --color-default: #889562;
}

:root[data-theme="dark"] {
  --color-hover-default: #CCD566;
}

:root[data-theme="dark"] {
  --border-color: #2E332E;
}

:root[data-theme="dark"] {
  --contrast-color: #ccd566;
}

:root[data-theme="dark"] {
  --background-button: #889562;
}

:root[data-theme="dark"] {
  --hover-background-button: #4C514C;
}

:root[data-theme="dark"] {
  --background-theme-drop: #667145;
}

:root[data-theme="dark"] {
  --button-color: #2B312B;
}

:root[data-theme="dark"] {
  --button-color-hover: #0F110F;
}

:root[data-theme="dark"] {
  --background-pomodoro-container: linear-gradient(115deg, #1F81DC 15%, #084E8E 80%);
}

:root[data-theme="dark"] {
  --text-shadow: #082743;
}